@font-face {
  font-family: "SAP-icons";
  src: url("../fonts/SAP-icons.woff")
  format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "72";
  src: url("../fonts/72-Regular-full.woff")
  format("woff");
  font-weight: normal;
  font-style: normal;
}

:root{
  background-color: var(--sapBackgroundColor);
  color: var(--sapTextColor);
  font-family: var(--sapFontFamily);
  font-size: var(--sapFontSize);
}

@import 'sap_fiori_3_dark.css';
